body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

header {
  background-image: url(img/cover.jpg);
  color: white;
  width: 100vw;
  height: 500px;
  background-size: cover;
  background-color: #D1C0DF;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .subtitle {
  font-size: 2em;
}

header .title {
  font-size: 5em;
}

section {
  
}

section.work .thumbnails img {
  width: 30%;
}
