body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  font-family: 'Lobster', cursive;
  color: #D1C0DF;
  width: 100vw;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #D1C0DF;
}

section {
  font-size: 1.5em;
  height: 50vh;
  padding: 5%;
}

section:nth-child(2n+1) {
  background: #f9f9f9;
}

header .subtitle {
  font-size: 2em;
}

header .title {
  font-size: 5em;
}

section.skills span {
    padding: 5px 10px;
    background-color: #D1C0DF;
    border-radius: 5px;
    line-height: 45px;
}

section.work .thumbnails {
   text-align: center;
   margin-right: 50px;
   display: inline-block;
   width: 300px;
   height: 200px;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center center;
   transition: all .5s ease;
   position: relative;
}

.pbistro {
  background-image: url(img/pbistro.png);
}

.threeDjoe {
  background-image: url(img/3djoe.png);
}

section.work .thumbnails:hover {
    cursor: pointer;
    background-size: 200% 200%;
}

section.work .thumbnails:hover .hover {
    display: block;
}

.hover {
  background-color: black;
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 25%;
  display: none;
  opacity: 0.8;
  display: none;
  position: absolute;
}
